body{
    margin: 0;
    padding: 0  ;
    background: linear-gradient(brown, black);
}
.Apple{
    justify-content: left;
}
.Strawberry{
    justify-content: center;
}
.Chocolate{
    justify-content: right;
}